// colors
$white: #ffffff;
$black: #000000;

//background-colors
$red: #df1f26;
$gray1: #707070;
$gray2: #f1f2f5;
$label-gray: #616f8d;
$input-gray: #2c2d32;
$light-green: #f6f9ff;

//font-size
$header-links: 12px;
$footer-heading: 40px;
$label: 12px;
$input: 12px;
$error: 12px;
$button-l: 16px;
$home-head: 53px;
$service-head: 40px;
$serv-heading: 50px;
$para-norm: 14px;
$brand-text: 30px;
$service-head1: 53px;

//font-weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: bold;
